---
---

@import "{{ site.theme }}";

.page-header{
color:#ffff;
background-color:#A067AB;
background-image: url("https://mjrovai.github.io/Mapping_Covid-19_Brazil/images/Portada_1.png?raw=true");

}
