---
---

@import "{{ site.theme }}";

.page-header{
background-color: #a93226;
background-image: url("https://mjrovai.github.io/Mapping_Covid-19_Brazil/images/Portada_1.png?raw=true");
background-repeat: no-repeat;
background-position: left center;
height: 500px;

position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
}
